# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# General
*.swp
*.swo
*.bak
*.tmp